@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: Noto Sans, sans-serif;
  margin: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

/* Add root variables for colors */
:root {
  --primary: #ff934f;
  --background: #342a21;
  --accent: #efecca;
  --accent2: #efecca;
}

.fill {
  border: 2px solid var(--accent);
  border-radius: 100%;
  padding: 20px;
  color: var(--accent);
  position: relative;
  display: block;
  overflow: hidden;
}

.fill * {
  z-index: 10;
}

.fill:hover {
  color: var(--background);
}

.fill::before {
  content: '';
  position: absolute;
  background: var(--accent);
  bottom: 0;
  left: 0;
  right: 0;
  top: 100%;
  -webkit-transition: top 0.09s ease-in;
  z-index: 5;
}

.fill:hover:before {
  top: 0;
}
